@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #EAE5DA;
    color: #0B1A24;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
