@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");
@import url("https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css");
@import url("https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #EAE5DA;
    color: #0B1A24;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
